<div class='offer'>
  <div class='title'>Title : <%= item.title %></div>
  <div class='thumbnail'><%= image_tag item.thumbnail[:lowres] %></div>
  <div class='payout'>Payout: <%= item.payout%></div>
</div>