<h3>SponsorPay JSON Consumer</h3>

<%= render 'form' %>


<% if @offer.items.any? %>
  <%= render partial: "item", collection: @offer.items  %>
<% else %>
  <%= render partial: "no_offers"  %>
<% end %>